body {
  margin: 0;
  background-color: #eee;
}

.container {
  margin: 2rem;
  background-color: white;
  padding: 2rem;
  display: grid;
  gap: 1em;
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/************* TABLETTE **************/
/* Point rupture 768px */

/************* BUREAU **************/
/* Point rupture 1200px */
